<form id="contact-form" [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
  <div class="form-group">
    <label for="IdFactura">Id Producto</label>
    <input type="text" id="name" name="IdFactura" placeholder="Id Factura"
           formControlName="IdFactura">
  </div>
  <div class="form-group">
    <label for="IdProducto">Id Producto</label>
    <input type="text" id="name" name="IdProducto" placeholder="Id Producto" required
           formControlName="IdProducto">
  </div>
  <div class="form-group">
    <label for="IdCliente">Id Cliente</label>
    <input type="text" id="name" name="IdCliente" placeholder="Id Cliente" required
           formControlName="IdCliente">
  </div>
  <div class="form-group">
    <label for="Cantidad">Cantidad Producto</label>
    <input type="text" id="name" name="Cantidad" placeholder="Cantidad Producto" required
           formControlName="Cantidad">
  </div>
  <div class="form-group">
    <label for="TotalCompra">Total Compra</label>
    <input type="text" id="name" name="TotalCompra" placeholder="Total Compra" required
           formControlName="TotalCompra">
  </div>
  <div class="form-group">
    <label for="FechaCompra">Fecha Compra</label>
    <input type="datetime" id="name" name="FechaCompra" placeholder="Fecha Compra" required
           formControlName="FechaCompra">
  </div>
  <button type="submit" id="submit">Enviar</button>
</form>
